<!DOCTYPE html>
<html ng-app="firstApp">
<!-- associating all of your other files with your index file; angular directive -->
	<head>
		<title>My Frist Angular App</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body ng-controller="mainControl">
<!-- ng- = angular directive -->
<!-- linking your controller from mainControl -->
<!-- <input type="text" ng-model="test"> -->
<!-- now have input field that updates test variable -->
<!-- 	{{ test }}
		{{things}} -->




		<div ng-repeat="tool in tools">
<!-- tool = variable we have created in html; referencing tools = from mainControl; call in our created html variable to invoke -->
			<h3>Name of Tool: {{tool.name}}</h3>
			<p>Description: {{tool.description}}</p>
			<!-- <li>{{tool}}</li>
			<p>This tool is awesome, especially for angry mobs</p> -->
		</div>


		


		<button type="button" ng-click="getThings()">Click to GET</button>
<!-- on this click I want something to happen here run getThings() function-->


		<div ng-repeat="giphy in things">
			<img src={{giphy.images.fixed_height.url}} >
		</div>
<!-- giphy = variable we declared; look in $scope.things for my data, called in via things from mainControl	 -->	
		
	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
	<!-- requiring angular script tags and js files -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="mainControl.js"></script>
	<script src="mainServe.js"></script>
	</body>
</html>